<!DOCTYPE html>
<html ng-app="ChartsApp">
<head>
	<title>Charts App</title>
	<link rel="stylesheet" type="text/css" href="lib/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">

	<script type="text/javascript" src="lib/jquery.min.js"></script>
	<script type="text/javascript" src="lib/angular/angular.min.js"></script>
	<script type="text/javascript" src="lib/bootstrap/bootstrap.min.js"></script>
	<script type="text/javascript" src="lib/bootstrap/ui-bootstrap.min.js"></script>
	<script type="text/javascript" src="lib/highcharts.js"></script>
	<script src="lib/drilldown.js"></script>
	<script type="text/javascript" src="lib/highcharts-ng.js"></script>
	<script src="lib/exporting.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
</head>
<body ng-controller="MainCtrl">
	<div class="container">
		<select ng-model="chartConfig.options.chart.type" ng-options="value for value in types"></select>
		<highchart id="chart1" config="chartConfig"></highchart>
		<div>
			<div class="form-group">
				<label for="">Name</label>
				<input class="form-control" type="text" ng-model="newSet.name">
			</div>
			<div class="form-group">
				<label for="">Data</label>
				<input class="form-control" type="number" ng-model="newSet.data1" />
				<input class="form-control" type="number" ng-model="newSet.data2" />
				<input class="form-control" type="number" ng-model="newSet.data3" />
				<input class="form-control" type="number" ng-model="newSet.data4" />
			</div>
			<div class="form-group">
				<button ng-click="add()">Add</button>
			</div>
		</div>
	</div>

</body>
</html>